{% extends "personal/header.html" %}
{% block content %}

<body>
  <div id="main-container">
    <div id="main" class="wrapper clearfix">    

      <div class="container article-page">
        <div class="table-responsive">
          <h3>Article</h3>
          <table class="table">
            <tbody>
              <tr>
                <td>Result:</td>
                <td>{{ article.result }}</td>
              </tr>

              <tr>
                <td>Published:</td>
                <td>{{ article.date }}</td>
              </tr> 
              
              <tr>
                <td>URL:</td>
                <td>{{ article.address }}</td>
              </tr>
              <tr>

              <tr>
                <td>Title:</td>
                <td>{{ article.title }}</td>
              </tr>
      
              <tr>
                <td>Text:</td>
                <td>{{ article.body }}</td>
              </tr>

            
            </tbody>
          </table>
          
        </div>
      </div>
    </div> <!-- #main -->
  </div> <!-- #main-container -->
</body>

{% endblock %}
