{% extends "personal/header.html" %}
<!-- 
Displays extracted content from the extraction process and shows result of the 
article classification algorithm with accuracy based on the naive bayes results
-->
{% block content %}

<body>
  <div id="main-container">
    <div id="main" class="wrapper clearfix">    
      <div class="container article-page">
        <div class="table-responsive">
          <h3>Extracted Data</h3>
          <table class="table">

            <tbody>
              <tr>
                <td>Algorithm accuracy:</td>
                <td>{{ accuracy }}</td>
              </tr>

              <tr>
                <td>Result:</td>
                <td>{{ result }}</td>
              </tr>

              <tr>
                <td>URL:</td>
                <td>{{ url }}</td>
              </tr>
              <tr>

              <tr>
                <td>Title:</td>
                <td>{{ title }}</td>
              </tr>

              <tr>
                <td> Authors:</td>
                <td>{{ authors }}</td>
              </tr>
      
              <tr>
                <td>Text:</td>
                <td>{{ text }}</td>
              </tr>

              <tr>
                <td>Published:</td>
                <td>{{ publish_date }}</td>
              </tr>

              <tr>
                <td>Top Image:</td>
                <td>
                  <img src="{{ top_image }}"/>
                  <p class="text-center"><a href="{{ top_image }}">{{ top_image }}</a></p>
                </td>
              </tr>

              <tr>
                <td>Movies: (Videos)</td>
                <td>{{ videos }}</td>
              </tr>

              <tr>
                <td>Keywords: (NLP)</td>
                <td>{{ keywords }}</td>
              </tr>

              <tr>
                <td>Summary: (NLP)</td>
                <td>{{ summary }}</td>
              </tr>
             
            </tbody>
          </table>

          <!--
          <table>
            <tbody>
     			    <td>Article HTML</td>
                <td>
                  <pre>
                    <code class="language-markup">
                      {{ html }}
                    </code>
                  </pre>
                </td>
              </tr>
     		   </tbody>
          </table>
          -->
          
        </div>
      </div>
    </div> <!-- #main -->
    <p> Provide feedback coming soon!!! </p>
  </div> <!-- #main-container -->
</body>

{% endblock %}
