{% extends "personal/header.html" %}



{% block content %}
    <body>
  <div id="main-container">
    <div id="main" class="wrapper clearfix">  

 {% for c in content%}
    <p>{{c}}</p>
 {% endfor %}
       </div> <!-- #main -->

  </div> <!-- #main-container -->
  
  <script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">
	@import url(http://assets.freshdesk.com/widget/freshwidget.css); 
</style> 
<iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://demo-sandbox.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&submitThanks=Thank+you+for+submitting+a+ticket+an+engineer+will+respond+to+you+promptly.%0D%0A&screenshot=No" scrolling="no" height="500px" width="100%" frameborder="0" >
</iframe>

  </body>
{% endblock %}
