<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/meta>
   {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'personal/css/style.css'%}" type = "text/css"/link>
   	<script type="text/javascript" src="{% static 'personal/js/libs/modernizr-2.0.6.min.js'%}"> </script>
   		<title>NewsRank</title>
<!--  <link rel="stylesheet" href="personal/css/style.css"> -->
<!--<script src="personal/js/libs/modernizr-2.0.6.min.js"></script>-->
</head>
	<body>
		<div id="header-container">
			<header class="wrapper clearfix">
				<h1 id="title">NewsRank</h1>
	<nav>
		<ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/newsApp/'>News</a></li>
          <li><a href='/contact/'>Contact</a></li>
        </ul>
    </nav>
    </header>
  </div>
  <div id="main-container">
    <div id="main" class="wrapper clearfix">
      
      <article>
        <header>
          <h2>News</h2>
          <p>Using an artificial intelligence algorithm this service offers insight on reliable news. Fake news is displayed on the right.</p>
        </header>
        <section>
          <h2>Problem Description</h2>
          <p>The problem developed with companies publishing fake new stories in order to make profit.</p>
          <a href="http://www.factcheck.org/2016/11/how-to-spot-fake-news/">news</a>
        </section>
        <section>
          <h2>Sources</h2>
          <p>A Guide to Spotting Fake News</p>
        </section>
        <footer>
          <h2>Additional</h2>
          <p>Test it out</p> 
	      <a href="https://newsroom.fb.com/news/">facebook news</a>
          <a href="https://twitter.com/breakingnews?lang=en">twitter news</a>
          <a href="http://www.independent.co.uk/topic/snapchat ">snapcaht news</a>
        </footer>
      </article>
      
      <aside>
      {% block content %}
      {% endblock %} 
      </aside>
      
    </div> <!-- #main -->

  </div> <!-- #main-container -->

  <div id="footer-container">
    <footer class="wrapper">
      <h3>Your Source for News Reliability Rankings</h3>
    </footer>
  </div>

</body>
</html>

<!--

<!DOCTYPE html>
<html lang="en">

<head>
 <title>NewsRank</title>
 <meta charset="utf-8" />
 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
 <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
 <style type="text/css">
  html,
  body {
    height:100%
  }
 </style>
</head>

<body class="body" style="background-color:rgba(82,  104,  215, 0)">
 <div class="container-fluid" style="min-height:95%; ">
  <div class="row">
     <div class="col-sm-2">
      <br>
      <center>
     <img src="{% static 'personal/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
      </center>
     </div>
     <div class="col-sm-10">
      <br>
      <center>
      <h3>NewsRank Reliability Searches</h3>
      </center>
     </div>
  </div><hr>

  <div class="row">
    <div class="col-sm-2">
    <br>

    <br>

   <div class="well bs-sidebar" id="sidebar" style="background-color:#ace6ff">
     <ul class="nav nav-pills nav-stacked">
    <li><a href='/'>Home</a></li>
    <li><a href='/newsApp/'>News</a></li>
    <li><a href='/blog/'>Blog</a></li>
    <li><a href='/contact/'>Contact</a></li>
     </ul>
   </div> 
    </div>
    <div class="col-sm-10">
   <div class='container-fluid'>
   <br><br>

   </div>
    </div>
  </div> 
 </div>
 <footer>
  <div class="container-fluid" style='margin-left:15px'>
   <p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
  </div>
 </footer> 
 
</body>

</html>
-->
