<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/meta>
   {% load staticfiles %}
   <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--</head> -->
   <link rel="stylesheet" href="{% static 'personal/css/style.css'%}" type = "text/css"/link>
   	<script type="text/javascript" src="{% static 'personal/js/libs/modernizr-2.0.6.min.js'%}"> </script>

<link rel="stylesheet" href="{% static 'personal/css/prism.css'%}" type = "text\
/css"/link>
<script type="text/javascript" src="{% static 'personal/js/prism.js'%}"> </script>

<title>NewsRank</title>
<!--<link rel="stylesheet" href="personal/css/style.css"> -->
<!--<script src="personal/js/libs/modernizr-2.0.6.min.js"></script>-->
</head>
	
		<div id="header-container">
			<header class="wrapper clearfix">
				<h1 id="title">NewsRank</h1>
	<nav>
		<ul>
          <li><a href='/'>Search</a></li>
          <li><a href='/newsApp/'>News</a></li>
          <li><a href='/contact/'>Contact</a></li>
        </ul>
    </nav>

    </header>
  </div>


      
      {% block content %}
      
      {% endblock %} 

  <div id="container">



    </div> <!-- end of row -->
  <div id="footer-container">
    <footer class="wrapper">
          <div class="row" style="color:black">
      <div class="col-sm-4 col-sm-offset-2" style="background-size:cover;background-color:orange"> 
          <h2>News</h2>
          <p>Using an artificial intelligence algorithm this service provides insight into the reliability of news articles</p>
      </div>
      
      <div class="col-sm-4 col-sm-offset-2" style="background-size:cover;;background-color:orange"> 
        <h2>Problem</h2>
          <p>With the large number of articles posted every day, from a wide variety of outlets, it can be hard to tell what is trustworthy and what isn't.
          </p>

      </div>
      
      <div class="col-sm-4 col-sm-offset-2" style="background-size:cover;background-color:orange"> 
         <h2>Sources</h2>
          <p><a href="https://newsroom.fb.com/news/">facebook news</a></p>
          <p><a href="https://twitter.com/cnnbrk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">twitter news</a></p>
          <p><a href="http://www.independent.co.uk/topic/snapchat ">snapchat news</a></p>
      </div>
      </div>
      <h3>Your Source for News and Media Reliability Rankings</h3>
    </footer>
  </div>

  
  </div>
  
</html>

<!--

<!DOCTYPE html>
<html lang="en">

<head>
 <title>NewsRank</title>
 <meta charset="utf-8" />
 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
 <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
 <style type="text/css">
  html,
  body {
    height:100%
  }
 </style>
</head>

<body class="body" style="background-color:rgba(82,  104,  215, 0)">
 <div class="container-fluid" style="min-height:95%; ">
  <div class="row">
     <div class="col-sm-2">
      <br>
      <center>
     <img src="{% static 'personal/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
      </center>
     </div>
     <div class="col-sm-10">
      <br>
      <center>
      <h3>NewsRank Reliability Searches</h3>
      </center>
     </div>
  </div><hr>

  <div class="row">
    <div class="col-sm-2">
    <br>

    <br>

   <div class="well bs-sidebar" id="sidebar" style="background-color:#ace6ff">
     <ul class="nav nav-pills nav-stacked">
    <li><a href='/'>Home</a></li>
    <li><a href='/newsApp/'>News</a></li>
    <li><a href='/blog/'>Blog</a></li>
    <li><a href='/contact/'>Contact</a></li>
     </ul>
   </div> 
    </div>
    <div class="col-sm-10">
   <div class='container-fluid'>
   <br><br>

   </div>
    </div>
  </div> 
 </div>
 <footer>
  <div class="container-fluid" style='margin-left:15px'>
   <p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
  </div>
 </footer> 
 
</body>

</html>
-->
